.git
.github
.env
.env.*
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.phpunit.result.cache
.editorconfig
.gitignore
.gitattributes
npm-debug.log
yarn-error.log
.DS_Store

database/*.sqlite
